@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    /* promo_bg */

    height: 800px;
    background: url("../img/head_bg.jpg") center center/cover no-repeat;
    padding: 39px 0px 62px 0px;
}

.logo .logo_img {
    /* logo */

    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    /* WordPress интенсив */

    margin-top: 14px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1 {
    margin: 0;
    margin-top: 53px;
}

.title {
    /* Создать свой сайт на WordPress */
    /* Куда сложнее сделать это правильно! */

    color: #F9BF3B;
    font-weight: 900;
    font-size: 41px;
    /* identical to box height, or 100% */

    text-align: center;
    text-transform: uppercase;
}

.simple {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simple .line {
    width: 292px;
    height: 2px;
    background: #fff;
}

.simple .title_big {
    /* это просто! */
    margin: 20.5px 5px 20.5px 5px;
    font-weight: 900;
    font-size: 80px;
    /* or 100% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.promo .promo_text {
    /* Ежедневно в России появляется более 5 000 новых сайтов. И тольк */

    margin-top: 22px;
    padding: 0px 13px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-weight: bold;
}

.promo .promo_btn {
    /* Кнопка "Записаться на интенсив"*/

    display: block;
    margin: 0 auto;
    margin-top: 72px;
    width: 313px;
    height: 72px;

    border: 0.5px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    font-family: "Roboto Condensed", sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);

    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}

.promo .promo_btn:hover {
    background: #2798B9
}

.more .more_text {
    /* узнать больше об интенсиве */

    margin-top: 70.5px  ;
    font-weight: 200;
    font-size: 15px;
    /* identical to box height, or 160% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s margin-top;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.3s margin-top;
}

.more .more_text:hover {
    margin-top: 73.5px;
}

.more .more_img:hover{
    margin-top: 11px;
}


.waiting {
    /* waiting_bg */

    min-height: 607px;
    background-color: #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    /* Что вас ждет в нашем интенсиве? */

    font-weight: normal;
    font-size: 30px;
    /* or 100% */

    text-align: center;
    text-transform: uppercase;

    color: #252525;
}

.finish .finish_header {
    color: #EFEFEF;
}

.waiting .waiting_divider, .finish .finish_divider {
    /* Разделитель */

    margin: 0 auto;
    margin-top: 18px;

    width: 220px;
    height: 7px;

    background: #F9BF3B;
}

.waiting .waiting_subheader {
    /* 2 бесплатных полноценных обучающих вебинара, где: */

    margin-top: 18.5px;
    font-weight: normal;
    font-size: 23px;

    /* identical to box height, or 87% */

    text-align: center;

    color: #4A4A4A;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45.5px;

}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    /* or 140% */

    color: #4A4A4A;
}

.optimization {
    min-height: 547px;
    padding: 108px 0 74px 0;

}

.optimization .optimization_header {
    margin-left: 391px;
    font-weight: 700;
    font-size: 29px;
    /* identical to box height, or 100% */

    text-transform: uppercase;

    color: #299CBD;
}

.optimization .optimization_text {
    margin-top: 10px;
    margin-left: 391px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    /* or 159% */

    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    top: 10px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 68.5px 0;
    background: url('../img/learning_finish_bg.jpg') center center/cover no-repeat;

}

.finish .finish_wrapper {
    display: flex;
    margin-top: 41px;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;

    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 24.5px;
    text-align: center;
    color: #EFEFEF;
    font-weight: 100;
    font-size: 17px;
    line-height: 20px;
}

.gift {
    min-height: 631px;
    padding: 88px 0;
    background: #EFEFEF;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_text {
    margin-top: 45px;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    /* or 143% */

    text-align: center;

    color: #252525;
}

.gift .gift_button {
    display: block;
    margin: 0 auto;
    margin-top: 51px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 114% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);

    cursor: pointer;
    outline: none;
    border: none;

}

.gift .gift_button:hover {
    background: #2798B9
}

.web {
    min-height: 512px;
    padding: 89px 0 50.5px 0;
}

.web .web_img {
    display: block;
    margin: 0 auto;
}

.web .web_when, .web .web_date, .web .web_text {
    margin-top: 36px;
    font-weight: normal;
    font-size: 30px;
    /* identical to box height, or 100% */

    text-align: center;
    text-transform: uppercase;

    color: #252525;
}

.web .web_date {
    margin-top: 30px;
    font-weight: 900;
    font-size: 36px;
    /* or 100% */
    color: #299CBD;
}

.web .web_text {
    margin-top: 24.5px;
    font-size: 23px;
    line-height: 20px;
    text-transform: none;
    color: #4A4A4A;
}

.footer {
    min-height: 169px;
    padding: 57px 0 69px 0;
    background: #1A1A1A;
}

.footer .contacts {
    width: 407px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    /* or 140% */

    text-align: center;

    color: #888888;
}

.footer .contacts a {
    color: #888888;
    text-decoration: none;
}

.footer .contacts a:hover {
    text-decoration: underline;
}

@media(max-width: 1199px){
    .container {
        width: 90%;
    }

    .waiting .waiting_wrapper .waiting_item {
        width: 30%;
    }

    .optimization {
        padding: 0;
    }

    .optimization .optimization_img {
        left: 0;
        top
    }
}
